{% extends 'base.html' %}

{% block title %}Player Detail - {{ player.name }}{% endblock %}

{% load static %}

{% block content %}
    <div style="text-align: center;">
        <h1>Player Detail - {{ player.name }}</h1>
        {% if player.photo %}
                <img src="{{ player.photo.url }}" alt="{{ player.name }} Photo" style="max-width: 200px;">
        {% endif %}

        <p>Team:
            <a href="{% url 'team_detail' player.team.id %}">
                {{ player.team }}
            </a>
        </p>

        <p>
            Country:
            <a href="{% url 'country_detail' player.country.id %}">
                {{ player.country }}
            </a>
        </p>
        <p>Age: {{ player.age }}</p>
        <p>Skill: {{ player.skill }}</p>

        <link rel="stylesheet" type="text/css" href="{% static 'positions.css' %}">

        <h2>Ratings</h2>
        <div class="wrapper">
            <div class="campo">
                 <div class="semi1"></div>
                 <div class="semi2"></div>
                 <div class="divisoria"></div>
                 <div class="interior"></div>
                 <div class="penalty"></div>
                 <div class="gk">{{player.GK}}</div>
                 <div class="cb">{{player.CB}}</div>
                 <div class="lb">{{player.LB}}</div>
                 <div class="rb">{{player.RB}}</div>
                 <div class="lwb">{{player.WLB}}</div>
                 <div class="dm">{{player.CDM}}</div>
                 <div class="rwb">{{player.WRB}}</div>
                 <div class="lm">{{player.LM}}</div>
                 <div class="cm">{{player.CM}}</div>
                 <div class="rm">{{player.RM}}</div>
                 <div class="cam">{{player.CAM}}</div>
                 <div class="lw">{{player.LW}}</div>
                 <div class="rw">{{player.RW}}</div>
                 <div class="st">{{player.ST}}</div>
              </div>
        </div>

        <h2>Total Statistics</h2>
        <p>Apps: {{ total_apps }}</p>
        <p>Goals: {{ total_goals }}</p>
        <p>Assists: {{ total_assists }}</p>

        <h2>Club-wise Statistics</h2>
        <p>
          {% for club_stat in club_statistics %}
            <p>
              {{ club_stat.team__name }}:
              <p>
                <p>Apps: {{ club_stat.total_apps }}</p>
                <p>Goals: {{ club_stat.total_goals }}</p>
                <p>Assists: {{ club_stat.total_assists }}</p>
              </p>
            </p>
          {% endfor %}
        </p>

        <h2>Position-wise Statistics</h2>
        <ul>
          {% for position_stat in position_statistics %}
            <li>
              {{ position_stat.position }}:
              <ul>
                <li>Apps: {{ position_stat.total_apps }}</li>
                <li>Goals: {{ position_stat.total_goals }}</li>
                <li>Assists: {{ position_stat.total_assists }}</li>
              </ul>
            </li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}