<!-- select_lineup.html -->
{% extends 'base.html' %}

{% block title %}Select Lineup{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
    <form id="lineupForm">
        {% csrf_token %}
         <div style="float: left; width: 48%;">
            <h2>Home Team</h2>
                <p>
                    <label for="h_country">Country:</label>
                    <select id="h_country" name="country">
                        <option value="" selected disabled>Select Country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="h_team">Team:</label>
                    <select id="h_team" name="team" disabled>
                        <option value="" selected disabled>Select Team</option>
                    </select>
                </p>
                <p>
                    <label for="h_GK">GK:</label>
                    <select id="h_GK" name="GK" disabled>
                        <option value="" selected disabled>Select GK</option>
                    </select>
                </p>
                <p>
                    <label for="h_LB">LB:</label>
                    <select id="h_LB" name="LB" disabled>
                        <option value="" selected disabled>Select LB</option>
                    </select>
                </p>
                <p>
                    <label for="h_CB1">CB:</label>
                    <select id="h_CB1" name="CB1" disabled>
                        <option value="" selected disabled>Select CB</option>
                    </select>
                </p>
                <p>
                    <label for="h_CB2">CB:</label>
                    <select id="h_CB2" name="CB2" disabled>
                        <option value="" selected disabled>Select CB</option>
                    </select>
                </p>
                 <p>
                    <label for="h_RB">RB:</label>
                    <select id="h_RB" name="RB" disabled>
                        <option value="" selected disabled>Select RB</option>
                    </select>
                </p>
                 <p>
                    <label for="h_CDM1">CDM:</label>
                    <select id="h_CDM1" name="CDM1" disabled>
                        <option value="" selected disabled>Select CDM</option>
                    </select>
                </p>
                 <p>
                    <label for="h_CDM2">CDM:</label>
                    <select id="h_CDM2" name="CDM2" disabled>
                        <option value="" selected disabled>Select CDM</option>
                    </select>
                </p>
                 <p>
                    <label for="h_CAM">CAM:</label>
                    <select id="h_CAM" name="CAM" disabled>
                        <option value="" selected disabled>Select CAM</option>
                    </select>
                </p>
                 <p>
                    <label for="h_LW">LW:</label>
                    <select id="h_LW" name="LW" disabled>
                        <option value="" selected disabled>Select LW</option>
                    </select>
                </p>
                 <p>
                    <label for="h_RW">RW:</label>
                    <select id="h_RW" name="RW" disabled>
                        <option value="" selected disabled>Select RW</option>
                    </select>
                </p>
                 <p>
                    <label for="h_ST">ST:</label>
                    <select id="h_ST" name="ST" disabled>
                        <option value="" selected disabled>Select ST</option>
                    </select>
                </p>
         </div>

        <div style="float: right; width: 48%;">
            <h2>Away Team</h2>
                <p>
                    <label for="a_country">Country:</label>
                    <select id="a_country" name="country">
                        <option value="" selected disabled>Select Country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="a_team">Team:</label>
                    <select id="a_team" name="team" disabled>
                        <option value="" selected disabled>Select Team</option>
                    </select>
                </p>
                <p>
                    <label for="a_GK">GK:</label>
                    <select id="a_GK" name="GK" disabled>
                        <option value="" selected disabled>Select GK</option>
                    </select>
                </p>
                <p>
                    <label for="a_LB">LB:</label>
                    <select id="a_LB" name="LB" disabled>
                        <option value="" selected disabled>Select LB</option>
                    </select>
                </p>
                <p>
                    <label for="a_CB1">CB:</label>
                    <select id="a_CB1" name="CB1" disabled>
                        <option value="" selected disabled>Select CB</option>
                    </select>
                </p>
                <p>
                    <label for="a_CB2">CB:</label>
                    <select id="a_CB2" name="CB2" disabled>
                        <option value="" selected disabled>Select CB</option>
                    </select>
                </p>
                 <p>
                    <label for="a_RB">RB:</label>
                    <select id="a_RB" name="RB" disabled>
                        <option value="" selected disabled>Select RB</option>
                    </select>
                </p>
                 <p>
                    <label for="a_CDM1">CDM:</label>
                    <select id="a_CDM1" name="CDM1" disabled>
                        <option value="" selected disabled>Select CDM</option>
                    </select>
                </p>
                 <p>
                    <label for="a_CDM2">CDM:</label>
                    <select id="a_CDM2" name="CDM2" disabled>
                        <option value="" selected disabled>Select CDM</option>
                    </select>
                </p>
                 <p>
                    <label for="a_CAM">CAM:</label>
                    <select id="a_CAM" name="CAM" disabled>
                        <option value="" selected disabled>Select CAM</option>
                    </select>
                </p>
                 <p>
                    <label for="a_LW">LW:</label>
                    <select id="a_LW" name="LW" disabled>
                        <option value="" selected disabled>Select LW</option>
                    </select>
                </p>
                 <p>
                    <label for="a_RW">RW:</label>
                    <select id="a_RW" name="RW" disabled>
                        <option value="" selected disabled>Select RW</option>
                    </select>
                </p>
                 <p>
                    <label for="a_ST">ST:</label>
                    <select id="a_ST" name="ST" disabled>
                        <option value="" selected disabled>Select ST</option>
                    </select>
                </p>
         </div>


        <div style="clear: both;"></div>
        <input type="submit" value="Submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#h_country").change(function () {
                var countryId = $(this).val();
                $.ajax({
                    url: "/ajax_get_teams_and_players/",
                    data: {country_id: countryId},
                    dataType: 'json',
                    success: function (data) {
                        $("#h_team").prop('disabled', false).empty().append('<option value="" selected disabled>Select Team</option>');
                        $("#h_GK").prop('disabled', true).empty().append('<option value="" selected disabled>Select GK</option>');
                        $("#h_LB").prop('disabled', true).empty().append('<option value="" selected disabled>Select LB</option>');
                        $("#h_CB1").prop('disabled', true).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#h_CB2").prop('disabled', true).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#h_RB").prop('disabled', true).empty().append('<option value="" selected disabled>Select RB</option>');
                        $("#h_CDM1").prop('disabled', true).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#h_CDM2").prop('disabled', true).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#h_CAM").prop('disabled', true).empty().append('<option value="" selected disabled>Select CAM</option>');
                        $("#h_LW").prop('disabled', true).empty().append('<option value="" selected disabled>Select LW</option>');
                        $("#h_RW").prop('disabled', true).empty().append('<option value="" selected disabled>Select RW</option>');
                        $("#h_ST").prop('disabled', true).empty().append('<option value="" selected disabled>Select ST</option>');

                        $.each(data.teams, function (key, value) {
                            $("#h_team").append('<option value="' + value.id + '">' + value.name + '</option>');
                        });

                    }
                });
            });

            $("#a_country").change(function () {
                var countryId = $(this).val();
                $.ajax({
                    url: "/ajax_get_teams_and_players/",
                    data: {country_id: countryId},
                    dataType: 'json',
                    success: function (data) {
                        $("#a_team").prop('disabled', false).empty().append('<option value="" selected disabled>Select Team</option>');
                        $("#a_GK").prop('disabled', true).empty().append('<option value="" selected disabled>Select GK</option>');
                        $("#a_LB").prop('disabled', true).empty().append('<option value="" selected disabled>Select LB</option>');
                        $("#a_CB1").prop('disabled', true).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#a_CB2").prop('disabled', true).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#a_RB").prop('disabled', true).empty().append('<option value="" selected disabled>Select RB</option>');
                        $("#a_CDM1").prop('disabled', true).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#a_CDM2").prop('disabled', true).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#a_CAM").prop('disabled', true).empty().append('<option value="" selected disabled>Select CAM</option>');
                        $("#a_LW").prop('disabled', true).empty().append('<option value="" selected disabled>Select LW</option>');
                        $("#a_RW").prop('disabled', true).empty().append('<option value="" selected disabled>Select RW</option>');
                        $("#a_ST").prop('disabled', true).empty().append('<option value="" selected disabled>Select ST</option>');

                        $.each(data.teams, function (key, value) {
                            $("#a_team").append('<option value="' + value.id + '">' + value.name + '</option>');
                        });

                    }
                });
            });


            $("#h_team").change(function () {
                var teamId = $(this).val();
                $.ajax({
                    url: "/ajax_get_teams_and_players/",
                    data: {team_id: teamId},
                    dataType: 'json',
                    success: function (data) {
                        $("#h_GK").prop('disabled', false).empty().append('<option value="" selected disabled>Select GK</option>');
                        $("#h_LB").prop('disabled', false).empty().append('<option value="" selected disabled>Select LB</option>');
                        $("#h_CB1").prop('disabled', false).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#h_CB2").prop('disabled', false).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#h_RB").prop('disabled', false).empty().append('<option value="" selected disabled>Select RB</option>');
                        $("#h_CDM1").prop('disabled', false).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#h_CDM2").prop('disabled', false).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#h_CAM").prop('disabled', false).empty().append('<option value="" selected disabled>Select CAM</option>');
                        $("#h_LW").prop('disabled', false).empty().append('<option value="" selected disabled>Select LW</option>');
                        $("#h_RW").prop('disabled', false).empty().append('<option value="" selected disabled>Select RW</option>');
                        $("#h_ST").prop('disabled', false).empty().append('<option value="" selected disabled>Select ST</option>');

                        $.each(data.GK, function (key, value) {
                            $("#h_GK").append('<option value="' + value.id + '">' + value.name + " - " + value.GK + '</option>');
                        });
                        $.each(data.LB, function (key, value) {
                            $("#h_LB").append('<option value="' + value.id + '">' + value.name + " - " + value.LB + '</option>');
                        });
                        $.each(data.CB, function (key, value) {
                            $("#h_CB1").append('<option value="' + value.id + '">' + value.name + " - " + value.CB + '</option>');
                        });
                        $.each(data.CB, function (key, value) {
                            $("#h_CB2").append('<option value="' + value.id + '">' + value.name + " - " + value.CB + '</option>');
                        });
                        $.each(data.RB, function (key, value) {
                            $("#h_RB").append('<option value="' + value.id + '">' + value.name + " - " + value.RB + '</option>');
                        });
                        $.each(data.CDM, function (key, value) {
                            $("#h_CDM1").append('<option value="' + value.id + '">' + value.name + " - " + value.CDM + '</option>');
                        });
                        $.each(data.CDM, function (key, value) {
                            $("#h_CDM2").append('<option value="' + value.id + '">' + value.name + " - " + value.CDM + '</option>');
                        });
                        $.each(data.CAM, function (key, value) {
                            $("#h_CAM").append('<option value="' + value.id + '">' + value.name + " - " + value.CAM + '</option>');
                        });
                        $.each(data.LW, function (key, value) {
                            $("#h_LW").append('<option value="' + value.id + '">' + value.name + " - " + value.LW + '</option>');
                        });
                        $.each(data.RW, function (key, value) {
                            $("#h_RW").append('<option value="' + value.id + '">' + value.name + " - " + value.RW + '</option>');
                        });
                        $.each(data.ST, function (key, value) {
                            $("#h_ST").append('<option value="' + value.id + '">' + value.name + " - " + value.ST + '</option>');
                        });
                    }
                });
            });

            $("#a_team").change(function () {
                var teamId = $(this).val();
                $.ajax({
                    url: "/ajax_get_teams_and_players/",
                    data: {team_id: teamId},
                    dataType: 'json',
                    success: function (data) {
                        $("#a_GK").prop('disabled', false).empty().append('<option value="" selected disabled>Select GK</option>');
                        $("#a_LB").prop('disabled', false).empty().append('<option value="" selected disabled>Select LB</option>');
                        $("#a_CB1").prop('disabled', false).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#a_CB2").prop('disabled', false).empty().append('<option value="" selected disabled>Select CB</option>');
                        $("#a_RB").prop('disabled', false).empty().append('<option value="" selected disabled>Select RB</option>');
                        $("#a_CDM1").prop('disabled', false).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#a_CDM2").prop('disabled', false).empty().append('<option value="" selected disabled>Select CDM</option>');
                        $("#a_CAM").prop('disabled', false).empty().append('<option value="" selected disabled>Select CAM</option>');
                        $("#a_LW").prop('disabled', false).empty().append('<option value="" selected disabled>Select LW</option>');
                        $("#a_RW").prop('disabled', false).empty().append('<option value="" selected disabled>Select RW</option>');
                        $("#a_ST").prop('disabled', false).empty().append('<option value="" selected disabled>Select ST</option>');

                        $.each(data.GK, function (key, value) {
                            $("#a_GK").append('<option value="' + value.id + '">' + value.name + " - " + value.GK + '</option>');
                        });
                        $.each(data.LB, function (key, value) {
                            $("#a_LB").append('<option value="' + value.id + '">' + value.name + " - " + value.LB + '</option>');
                        });
                        $.each(data.CB, function (key, value) {
                            $("#a_CB1").append('<option value="' + value.id + '">' + value.name + " - " + value.CB + '</option>');
                        });
                        $.each(data.CB, function (key, value) {
                            $("#a_CB2").append('<option value="' + value.id + '">' + value.name + " - " + value.CB + '</option>');
                        });
                        $.each(data.RB, function (key, value) {
                            $("#a_RB").append('<option value="' + value.id + '">' + value.name + " - " + value.RB + '</option>');
                        });
                        $.each(data.CDM, function (key, value) {
                            $("#a_CDM1").append('<option value="' + value.id + '">' + value.name + " - " + value.CDM + '</option>');
                        });
                        $.each(data.CDM, function (key, value) {
                            $("#a_CDM2").append('<option value="' + value.id + '">' + value.name + " - " + value.CDM + '</option>');
                        });
                        $.each(data.CAM, function (key, value) {
                            $("#a_CAM").append('<option value="' + value.id + '">' + value.name + " - " + value.CAM + '</option>');
                        });
                        $.each(data.LW, function (key, value) {
                            $("#a_LW").append('<option value="' + value.id + '">' + value.name + " - " + value.LW + '</option>');
                        });
                        $.each(data.RW, function (key, value) {
                            $("#a_RW").append('<option value="' + value.id + '">' + value.name + " - " + value.RW + '</option>');
                        });
                        $.each(data.ST, function (key, value) {
                            $("#a_ST").append('<option value="' + value.id + '">' + value.name + " - " + value.ST + '</option>');
                        });
                    }
                });
            });

            $("#lineupForm").submit(function (event) {
                event.preventDefault();

                var selectedPlayers = [];
                var positions = ["h_GK", "h_LB", "h_CB1", "h_CB2", "h_RB", "h_CDM1", "h_CDM2", "h_CAM", "h_LW", "h_RW", "h_ST",
                                 "a_GK", "a_LB", "a_CB1", "a_CB2", "a_RB", "a_CDM1", "a_CDM2", "a_CAM", "a_LW", "a_RW", "a_ST"];
                for (var i = 0; i < positions.length; i++) {
                    var position = positions[i];
                    var playerId = $("#" + position).val();

                    // Check if the player is already selected for another position
                    if (selectedPlayers.includes(playerId)) {
                        alert("Player with ID " + playerId + " can't be selected in multiple positions.");
                        return; // Prevent form submission
                    }

                    selectedPlayers.push(playerId);
                }

                var formData = $(this).serializeArray();

                $.ajax({
                    type: "POST",
                    url: "{% url 'select_lineup' %}",
                    data: formData,
                    dataType: 'json',
                    success: function (response) {
                        console.log(response.message);
                        // Add any additional logic or UI updates as needed
                    },
                    error: function (error) {
                        console.log("Error:", error);
                        // Handle errors or display a message to the user
                    }
                });
            });
        });
    </script>
{% endblock %}
