{% extends 'base.html' %}

{% block title %}Select Player{% endblock %}

{% block content %}
    <h1>Select Player</h1>
    <form method="post" action="{% url 'select_player' %}" id="selectPlayerForm">
        {% csrf_token %}
        <label for="player">Select player:</label>
        <input type="text" name="player_name" id="playerNameInput" autocomplete="off">
        <div id="suggestions"></div>
        <button type="submit">View Player Stats</button>
    </form>

    <script>
        const playerNameInput = document.getElementById('playerNameInput');
        const suggestionsDiv = document.getElementById('suggestions');

        playerNameInput.addEventListener('input', function () {
            const inputText = playerNameInput.value.trim().toLowerCase();
            suggestionsDiv.innerHTML = ''; // Clear previous suggestions

            if (inputText.length > 2) {
                // Make an AJAX request to fetch suggestions from the server
                fetch(`/get_player_suggestions/?query=${inputText}`)
                    .then(response => response.json())
                    .then(data => {
                        // Render suggestions in the suggestionsDiv
                        data.forEach(player => {
                            const suggestion = document.createElement('div');
                            suggestion.textContent = player.name;
                            suggestion.addEventListener('click', function () {
                                playerNameInput.value = player.name;
                                suggestionsDiv.innerHTML = ''; // Clear suggestions after selection
                            });
                            suggestionsDiv.appendChild(suggestion);
                        });
                    })
                    .catch(error => console.error('Error fetching suggestions:', error));
            }
        });
    </script>
{% endblock %}